.page {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

h1 {
    margin-bottom: 0;
    margin-top: 20px;

}

form {
    width: 400px;
    margin: 10px;
    padding : 20px;
    height: 200vh;
    justify-content: center;
    align-items: left;
}

.form-layer {
    margin: 10px;
    padding : 5px;
    text-align: left;
}

.form-layer label {
    margin-right: 15px;
    display: block;
}

.form-layer input {
    width: 100%;
}

.buttonbox {
    justify-content: center;
    margin: 10px;
    padding : 5px;
    display: grid;
    place-items: center;
}

.button {
    margin: 5px;
    padding : 5px;
}

.form-layer textarea {
    width: 100%;
    margin: 5px;
    resize: vertical;
    min-height: 20px;
    box-sizing: border-box;

}