html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to top, #0528F2, #3D9DF2);
}

h1 {
    margin-bottom: 0;
    margin: 20px;
    color: #EBEEF2;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    font-size: 50px;

}

form {
    width: 400px;
    margin: 10px;
    padding : 20px;
    height: fit-content;
    justify-content: center;
    align-items: left;
    background: linear-gradient(to top, #B4C4D9, #EBEEF2);
    border: 5px solid #B4C4D9;
    border-radius: 5px;
}

.results {
    width: 400px;
    margin: 10px;
    padding : 20px;
    height: fit-content;
    justify-content: center;
    align-items: left;
    background: linear-gradient(to top, #B4C4D9, #EBEEF2);
    border: 5px solid #B4C4D9;
    border-radius: 5px;
}

p {
    color: #056CF2;
    font-family: "Nunito Sans", sans-serif;
}

a {
    color: #056CF2;
    font-family: "Nunito Sans", sans-serif;
}

.form-layer {
    margin: 10px;
    padding : 5px;
    text-align: left;
    color: #056CF2;
    font-family: "Nunito Sans", sans-serif;
}

.form-layer label {
    margin-right: 15px;
    display: block;
}

.form-layer input {
    width: 100%;
}

.buttonbox {
    justify-content: center;
    margin: 10px;
    padding : 5px;
    display: grid;
    place-items: center;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.button {
    margin: 5px;
    padding : 5px;
    border: 2px solid #056CF2;
    border-radius: 5px;
    background: #3D9DF2;
    text-decoration: none;
    color:#EBEEF2;
    font-family: "Nunito Sans", sans-serif;
}

.form-layer textarea {
    width: 100%;
    margin: 5px;
    resize: vertical;
    min-height: 20px;
    box-sizing: border-box;

}